body{
    padding: 20px;
}
.a1 img{
    width: 200px;
    height: 100px;
}
.a1 button{
    color:green;
    background-color:darkgreen;
    border-radius: 12px;
    width: 163px;
}
.a1 button:hover{
    color: darkgreen;
    background-color:green;
}
.a1{
    font-size:large;
}
.a2 img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;;
    padding-left: -5px;
}
.a2 button{
    color:white;
    background-color: darkgreen;
    width: 150px;
    height: 50px;
    border-radius: 12px;
}
.a2 button:hover{
    color: darkgreen;
    background-color:green;
}

.a3{
    margin-top: 293px;
    padding-left: 20px;
}

.a3 p{
    font-size: large;
}
.a2 img{
    padding-top: 60px;
    padding-left: 60px;
}
.a4{
    width: 868px;
    height: 400px;
    background-color:azure;
    margin-top: 74px;
    margin-left: 201px;
    padding: 5px;
    font-size: large;
}
.a5{
    font-size:large;
    /* height: 200px; */
    text-align: justify;
    color: darkgreen;
    justify-content: space-between;
    
}
.a5 p{
    color: black;
    font-size: medium;
}
.a5 h3{
    font-size:large;

}
.a5 button{
    color:white;
    background-color:darkgreen;
    border-radius: 12px;
    width: 150px;
    height: 50px;
}
.a5 button:hover{
    color: darkgreen;
    background-color: green;
}
.a5 h4{
    color: darkgreen;

}

.a12 img{
    box-shadow: 5px 5px 5px 5px azure;
}
.a12 img:hover{
    box-shadow: 5px 5px 5px 5px lightgreen;
}

.a7{
    color: darkgreen;
    font-size:xx-large;
    
    
    
}
.a8{
    font-size:xx-large;
    color: black;
    width: 100%;
}
.a9{
    color: darkgreen;
    font-size: large;
    width: 100%;
}
.a10{
    color: darkgreen;
    font-size: large;
    width: 100%;
}
.a11{
    color: white;
    background-color: darkgreen;
    border-radius: 12px;
    width: 170px;
    height: 50px;
}
.a11:hover{
    color: darkgreen;
    background-color: green;
}
.a12{
    margin-top: 88px;
    height: 500px;
    padding-right: 60px;
}
.a13{
    padding-left: 6px;
    padding-top: 50px;
}
.card-body{
    background-color:azure;
}
.a14{
    padding-top: 25px;
    margin-left: 570px;
    margin-top: -315px;
}
.a14 button{
    color: white;
    background-color: darkgreen;
    border-radius: 12px;
    width: 200px;
    height: 50px;
}
.a14 button:hover{
    color: darkgreen;
    background-color: green;
}
.a15{
    margin-top: -10px;
    width: 380px;
    height: 300px;
    padding-left: -10px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
       
}
.a15 h1{
    padding-top: 200px;
}

.a15 img{
    margin-left: 720px;
    margin-top: -110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    padding-left: 25px;
}
.a17{
    padding-top: 150px;
    padding-left: 40px;
}
.a17 button{
    color: white;
    background-color: darkgreen;
    width: 100px;
    height: 50px;
    border-radius: 12px;
}
.a17 button:hover{
    color: darkgreen;
    background-color: green;
}
.a17 input{
    border-radius: 12px;
    width: 300px;
    height: 50px;
    margin-top: 10px;
}

.a18 p{
    color: black;
    margin-top: 25px;
}
.a18 h4{
    color: black;
}
.a18 i{
    color: black;
    
}
.a18 p{
    font-size:large;
}
.a18 img{
    width: 153px;
    height: 123px;
}
.col-3{
    background-color: azure;
}
